[overrides]
tls-disabled-mac = MD5
insecure-sig = RSA-MD5
tls-disabled-cipher = CAMELLIA-256-GCM
tls-disabled-cipher = CAMELLIA-128-GCM
tls-disabled-cipher = CAMELLIA-256-CBC
tls-disabled-cipher = CAMELLIA-128-CBC
disabled-version = SSL3.0
min-verification-profile = low

[priorities]
SYSTEM=NORMAL:+3DES-CBC:+ARCFOUR-128
